@font-face {
    font-family: 'Gotham Book';
    src: url('../dir/fonts/GothamBook.ttf');
}

$primary-clr: #252934;
$dark-clr: #07080a;
$accent-clr: #f6f6f6;

$spacer: 0.7em;
$spacer-md: 2.2em;

$shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);

body {
    margin: 0;
    background-color: $primary-clr;
    color: $accent-clr;
    font-family: 'Gotham Book', Arial, sans-serif;
}

//coming soon page
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#comingSoon {
    width: 60%;
    height: auto;
    background-color: rgba($dark-clr, 0.7);
    padding: $spacer-md;
    border-left: 3px solid $accent-clr;
    box-shadow: $shadow;
    h1 {
        margin: 0 0 $spacer;
        font-size: 2em;
    }
    p {
        line-height: 1.7em;
        margin: 0;
    }
}
