@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
span[data-trigger="back-btn"] {
  position: absolute;
  left: 1.5rem;
  top: 2em;
  font-size: 1.5em;
  z-index: 100;
  color: #fff;
}

#about-top {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: url(../dir/img/dark-honeycomb.png);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-top .headline-page {
  width: 30%;
}

#about-top .headline-page .logo {
  margin-bottom: 1.5em;
}

#about-top .headline-page h1 {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}

#about-top span[data-trigger="scroll-down"] {
  position: fixed;
  bottom: 4.5rem;
  left: 1.5rem;
  z-index: 1;
}

#about-top span[data-trigger="scroll-down"] p {
  position: absolute;
  letter-spacing: .2em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

#about-top span[data-trigger="scroll-down"] p::before {
  content: '';
  position: absolute;
  left: -4.05rem;
  top: 0.5em;
  background-color: #fff;
  height: 2px;
  width: 3.45rem;
}

#about-content {
  overflow: hidden;
  padding: 1.5rem;
}

#about-content .title {
  position: relative;
  float: right;
  margin-bottom: 1.5rem;
}

#about-content .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.2em;
  right: -1.5rem;
  height: 2px;
  background-color: #252934;
}

#about-content .content-wrapper {
  clear: both;
}

#about-content .passion, #about-content .skill-set, #about-content #about-footer {
  margin-top: 2.25rem;
}

#about-content .intro {
  position: relative;
}

#about-content .intro .bg-img {
  position: absolute;
  z-index: -4;
  left: -1.5rem;
  top: -1.5rem;
  bottom: 0;
  right: -1.5rem;
  background-image: url(../dir/img/kkl.jpg);
  background-size: cover;
  background-position: center;
}

#about-content .intro .bg-img::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 41, 52, 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

#about-content .intro .title {
  color: #fff;
}

#about-content .intro .title::before {
  background-color: #fff;
}

#about-content .intro .content-wrapper {
  padding-bottom: 1.5rem;
}

#about-content .intro .content-wrapper img {
  width: 70%;
  margin-bottom: 1.05rem;
}

#about-content .intro .content-wrapper p {
  line-height: 1.2em;
  border-left: 3px solid #fff;
  padding-left: 0.5em;
  color: #fff;
}

#about-content .passion .content-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.75rem;
  padding-bottom: 1.5rem;
}

#about-content .passion .content-wrapper::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: -1.5rem;
  right: -1.5rem;
  top: 2.25rem;
  bottom: 0;
  background-color: #E1A489;
}

#about-content .passion .content-wrapper .wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 192px;
          flex: 1 0 192px;
  background-color: #ffd1bc;
  padding: 0.75rem;
}

#about-content .passion .content-wrapper .wrapper h2 {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  margin-bottom: 0.375rem;
}

#about-content .passion .content-wrapper .wrapper p {
  line-height: 1.2em;
}

#about-content .skill-set .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about-content .skill-set .content-wrapper .group-skill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48%;
          flex: 1 1 48%;
}

#about-content .skill-set .content-wrapper .group-skill .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5em;
}

#about-content .skill-set .content-wrapper .group-skill .skill .icon-skill img {
  width: 100%;
}

#about-content .skill-set .content-wrapper .group-skill .skill .desc-skill {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 83%;
          flex: 1 0 83%;
}

#about-content .skill-set .content-wrapper .group-skill .skill .desc-skill span {
  display: block;
  margin-bottom: 0.5em;
}

#about-content .skill-set .content-wrapper .group-skill .skill .desc-skill .backbar {
  background-color: #ffd1bc;
  height: 0.7em;
}

#about-content .skill-set .content-wrapper .group-skill .skill .desc-skill .backbar .progress {
  background-color: #252934;
  height: 100%;
}

#about-footer {
  background-color: #252934;
  color: #fff;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-footer ul {
  width: 100%;
  text-align: center;
  line-height: 1.7em;
}

@media screen and (min-width: 768px) {
  span[data-trigger="back-btn"] {
    left: 3rem;
    top: 2.1em;
  }
  #about-top span[data-trigger="scroll-down"] {
    bottom: 4.5rem;
    left: 3rem;
  }
  #about-content {
    padding: 3rem;
  }
  #about-content .title {
    margin-bottom: 3rem;
  }
  #about-content .title::before {
    right: -3rem;
  }
  #about-content .passion, #about-content .skill-set, #about-content #about-footer {
    margin-top: 4.5rem;
  }
  #about-content .intro .bg-img {
    left: -3rem;
    top: -3rem;
    right: -3rem;
  }
  #about-content .intro .content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 1.5rem;
    padding-bottom: 3rem;
  }
  #about-content .intro .content-wrapper img {
    width: 45%;
  }
  #about-content .intro .content-wrapper p {
    height: 100%;
  }
  #about-content .passion .content-wrapper {
    gap: 1.5rem;
    padding-bottom: 1.5rem;
  }
  #about-content .passion .content-wrapper::before {
    left: -3rem;
    right: -3rem;
    top: 40%;
  }
  #about-content .passion .content-wrapper .wrapper {
    padding: 1.5rem;
  }
  #about-content .passion .content-wrapper .wrapper h2 {
    margin-bottom: 0.5rem;
  }
  #about-content .skill-set .content-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  span[data-trigger="back-btn"] {
    left: 9.7rem;
    top: 2.2em;
  }
  #about-top .headline-page {
    width: 17%;
  }
  #about-top span[data-trigger="scroll-down"] {
    bottom: 4.5rem;
    left: 9.7rem;
  }
  #about-content {
    padding: 14.55rem;
    padding-top: 3rem;
    padding-bottom: 4.5rem;
  }
  #about-content .title {
    margin-bottom: 3rem;
  }
  #about-content .title::before {
    right: -14.55rem;
  }
  #about-content .passion, #about-content .skill-set, #about-content #about-footer {
    margin-top: 4.5rem;
  }
  #about-content .intro .bg-img {
    left: -14.55rem;
    top: -3rem;
    right: -14.55rem;
    width: 95%;
  }
  #about-content .intro .title {
    color: #252934;
  }
  #about-content .intro .title::before {
    background-color: #252934;
  }
  #about-content .intro .content-wrapper {
    gap: 6rem;
    padding-bottom: 3rem;
  }
  #about-content .intro .content-wrapper img {
    width: 40%;
  }
  #about-content .passion .content-wrapper {
    gap: 3rem;
    padding-bottom: 3rem;
  }
  #about-content .passion .content-wrapper::before {
    left: -14.55rem;
    right: -14.55rem;
    top: 40%;
  }
  #about-content .skill-set .content-wrapper {
    gap: 3rem;
  }
  #about-footer {
    padding: 3rem;
  }
  #about-footer ul {
    line-height: 2.7em;
  }
}

@font-face {
  font-family: 'Gotham Book';
  src: url("../dir/fonts/GothamBook.ttf");
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Gotham Book", sans-serif;
  font-size: 14px;
}

body ul {
  list-style-type: none;
}

body a {
  text-decoration: none;
  color: unset;
}

header {
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header a.home-btn {
  display: inline-block;
  margin-left: 1.5rem;
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.5em;
}

header nav {
  padding: 0 1.5rem;
  color: #fff;
  background-color: #252934;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: none;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul a {
  display: inline-block;
}

header nav span {
  display: block;
  color: #fff;
  font-size: 1.4em;
  cursor: pointer;
}

main {
  position: relative;
}

button {
  font-family: "Gotham Book", sans-serif;
}

footer.main-footer {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
  font-size: 2em;
}

footer.main-footer .rect {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #E1A489;
  z-index: -1;
}

footer.main-footer .social-vertical {
  padding: 0.3rem;
  line-height: 1.5em;
  position: relative;
  top: -2.5em;
  right: -0.7em;
}

.title {
  font-family: "Julius Sans One", sans-serif;
  font-size: 2em;
}

.header-content {
  color: #fff;
}

.content-page {
  min-height: 100px;
  position: relative;
  z-index: 10;
}

.img {
  background-repeat: no-repeat;
}

.cta {
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 0.75rem;
  letter-spacing: .2em;
  word-break: none;
  border: 1px solid #252934;
}

.bg-word {
  width: 100vw;
  font-size: 18em;
  opacity: 0.09;
  font-family: "Julius Sans One", sans-serif;
  cursor: default;
}

.section-nav {
  background-color: #252934;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 55%;
}

.section-nav ul {
  padding: 0.525rem 3rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.section-nav ul a {
  position: relative;
  display: inline-block;
}

.section-nav ul a:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

#menu {
  display: none;
  position: fixed;
  z-index: 150;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 41, 52, 0.5);
}

#menu .content-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #252934;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu .content-menu ul {
  width: 100%;
}

#menu .content-menu ul li {
  text-align: right;
  padding: 0.75rem 1.5rem;
}

#menu .content-menu span {
  position: absolute;
  right: 1.5rem;
  top: 0.75rem;
  font-size: 1.4em;
}

#hero-section {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#hero-section .rect, #hero-section .bg-img, #hero-section .bg-word {
  position: absolute;
}

#hero-section .rect {
  background-color: #E1A489;
  width: 1.5rem;
  height: 3rem;
  left: 0;
  top: 3em;
}

#hero-section .bg-img {
  width: 60%;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: -10;
  background: url("../dir/img/pexels-ylanite-koppens-934062.jpg");
  background-size: cover;
  background-position: 65% 0;
}

#hero-section .bg-word {
  bottom: 4.5rem;
  left: -.5em;
  z-index: -2;
}

#hero-section .wrapper {
  padding-left: 1.5rem;
  padding-top: 15em;
  width: 80%;
}

#hero-section .wrapper .headline {
  font-family: "Julius Sans One", sans-serif;
  font-size: 3em;
  margin-bottom: .2em;
}

#hero-section .wrapper .sub-headline {
  margin-bottom: 1.4em;
}

#hero-section .wrapper .cta-primary {
  display: inline-block;
  padding: 0.75rem;
  letter-spacing: .2em;
  word-break: none;
  position: relative;
}

#hero-section .wrapper .cta-primary::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border: 1px solid #E1A489;
}

#showcase {
  height: 100vh;
  position: relative;
  padding-top: 13%;
}

#showcase .img {
  margin: 0 1.5rem;
  width: auto;
  height: 45%;
  background: url("../dir/img/Gaming Site - Preview.png");
  background-size: cover;
  background-position: top center;
  position: relative;
}

#showcase .img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#showcase .wrapper {
  position: relative;
  padding: 1.5rem;
}

#showcase .wrapper::before {
  content: '';
  position: absolute;
  background-color: #ffd1bc;
  top: -4em;
  left: 0;
  bottom: 3em;
  width: 100%;
  z-index: -1;
}

#showcase .wrapper .sub-title {
  position: relative;
  left: 1em;
  bottom: -0.2em;
}

#showcase .wrapper .content {
  margin: 1.05rem 0;
  line-height: 1.5em;
}

#about {
  height: 100vh;
  position: relative;
  padding-top: 35%;
}

#about .wrapper {
  padding: 0 1.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#about .wrapper .rect {
  position: absolute;
  background-color: #ffd1bc;
  z-index: -1;
  width: 55%;
  left: 0;
  top: -6em;
  bottom: -6em;
}

#about .wrapper .img {
  width: 100%;
  height: 20em;
  background: url("../dir/img/IMG_20200924_211247.jpeg");
  background-size: cover;
  position: relative;
}

#about .wrapper .img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#about .wrapper .img::after {
  content: url("../dir/svg/logo-transparent-white.svg");
  position: absolute;
  z-index: 2;
  width: 20%;
  height: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#about .wrapper .content {
  padding-top: 1.5rem;
  position: relative;
}

#about .wrapper .content p {
  margin: 1.05rem 0;
  line-height: 1.5em;
}

#contact {
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 0 1.5rem;
  z-index: 20;
}

#contact .bg-word, #contact .triangle-1, #contact .triangle-2 {
  position: absolute;
  z-index: -1;
}

#contact .triangle-1, #contact .triangle-2 {
  width: 100%;
  height: 60%;
  background-color: #E1A489;
}

#contact .triangle-1 {
  top: 0;
  right: 0;
  -webkit-clip-path: polygon(15% 0, 100% 85%, 100% 0);
          clip-path: polygon(15% 0, 100% 85%, 100% 0);
}

#contact .triangle-2 {
  bottom: 0;
  left: 0;
  -webkit-clip-path: polygon(0 15%, 85% 100%, 0 100%);
          clip-path: polygon(0 15%, 85% 100%, 0 100%);
}

#contact .bg-word {
  bottom: 6rem;
  left: -.25em;
}

#contact .title {
  padding-top: 35%;
  padding-bottom: 1.5rem;
}

#contact .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

#contact .content form {
  display: none;
}

#contact .content form input, #contact .content form textarea {
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid #252934;
  outline: none;
  padding: 0.45rem;
  font-family: "Gotham Book", sans-serif;
  background-color: #ffd1bc;
}

#contact .content form input::-webkit-input-placeholder, #contact .content form textarea::-webkit-input-placeholder {
  color: #252934;
}

#contact .content form input:-ms-input-placeholder, #contact .content form textarea:-ms-input-placeholder {
  color: #252934;
}

#contact .content form input::-ms-input-placeholder, #contact .content form textarea::-ms-input-placeholder {
  color: #252934;
}

#contact .content form input::placeholder, #contact .content form textarea::placeholder {
  color: #252934;
}

#contact .content form textarea {
  resize: none;
}

#contact .content form .cta {
  background-color: #252934;
  color: #fff;
  cursor: pointer;
}

#contact .content .social {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
}

#contact .content .social .img {
  height: 20em;
  margin-bottom: 1.5rem;
  background-image: url("../dir/img/pexels-karolina-grabowska-5398881.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

#contact .content .social .img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#contact .content .social i {
  margin-right: 0.7em;
  font-size: 1.3em;
}

#contact .content .social li {
  white-space: nowrap;
  line-height: 1.7em;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 15px;
  }
  header {
    height: 3.1em;
  }
  header a.home-btn {
    margin-left: 3rem;
  }
  header nav {
    padding: 0 3rem;
  }
  footer.main-footer {
    display: unset;
  }
  .section-nav {
    width: 45%;
  }
  .section-nav ul {
    padding: 0.75rem 6rem;
  }
  #hero-section .rect {
    width: 3rem;
    top: 3.1em;
  }
  #hero-section .wrapper {
    padding-left: 3rem;
    width: 65%;
  }
  #hero-section .bg-img {
    right: 1.2em;
  }
  #showcase {
    padding-top: 15em;
  }
  #showcase .img {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: unset;
    width: 40%;
    height: 60%;
  }
  #showcase .wrapper {
    width: 60%;
    padding: 3rem;
  }
  #showcase .wrapper::before {
    top: 5em;
    bottom: 5em;
    right: -11em;
    left: 0;
    width: unset;
  }
  #about {
    padding-top: 20em;
  }
  #about .wrapper {
    padding: 0 3rem;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    gap: 2.1rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #about .wrapper .content {
    padding: unset;
  }
  #about .wrapper .img {
    height: 30em;
  }
  #about .wrapper .rect {
    width: 55%;
    left: 10em;
    top: 6em;
    bottom: -6em;
  }
  #contact {
    padding: 0 3rem;
  }
  #contact .content {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #contact .content form {
    display: unset;
  }
  #contact .content .social .img {
    height: 8.5em;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 16px;
  }
  header {
    height: 3.2em;
  }
  header a.home-btn {
    margin-left: 9.7rem;
  }
  header nav {
    padding: 0 9.7rem;
    width: 55%;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav span {
    display: none;
  }
  .section-nav {
    bottom: unset;
    left: unset;
    right: 0;
    top: 30%;
    -webkit-transform: unset;
            transform: unset;
    width: unset;
  }
  .section-nav ul {
    display: block;
    padding: 4.2rem 0.75rem;
    font-size: 0.7em;
  }
  .section-nav ul a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 3em;
  }
  .bg-word {
    font-size: 25em;
  }
  #menu {
    display: none;
  }
  #hero-section .rect {
    width: 9.7rem;
    top: 3.2em;
  }
  #hero-section .bg-word {
    bottom: 0.3rem;
    left: -.3em;
  }
  #hero-section .wrapper {
    padding-top: 12em;
    padding-left: 9.7rem;
    width: 50%;
  }
  #showcase {
    padding-top: 9em;
  }
  #showcase .img {
    width: 43.5%;
    height: 60%;
  }
  #showcase .wrapper {
    width: 54%;
    padding-left: 9.7rem;
  }
  #showcase .wrapper::before {
    top: 5em;
    bottom: 4.5em;
    right: -11em;
    left: 0;
  }
  #showcase .wrapper .content {
    margin: 1.5rem 0;
  }
  #about {
    padding-top: 9em;
  }
  #about .wrapper {
    padding: 0 9.7rem;
    gap: 3rem;
  }
  #about .wrapper .content {
    padding: unset;
  }
  #about .wrapper .img {
    height: 20em;
    width: 75%;
  }
  #about .wrapper .rect {
    width: 55%;
    left: 15em;
    top: 6em;
    bottom: -6em;
  }
  #contact {
    padding: 0 9.7rem;
  }
  #contact .bg-word {
    bottom: 0em;
  }
  #contact .title {
    padding-top: 5.5em;
  }
  #contact .content {
    gap: 3rem;
  }
}

@media screen and (min-width: 1500px) {
  header nav {
    width: auto;
  }
  header nav ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: 5.82rem;
  }
}
/*# sourceMappingURL=main.css.map */