#about-top {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: url(../dir/img/dark-honeycomb.png);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -10;
}

#about-top .headline-page {
  width: 30%;
}

#about-top .headline-page .logo {
  margin-bottom: 1.5em;
}

#about-top .headline-page h1 {
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
}

#about-top span[data-trigger="scroll-down"] {
  position: fixed;
  bottom: 4.5rem;
  left: 1.5rem;
  z-index: 1;
}

#about-top span[data-trigger="scroll-down"] p {
  position: absolute;
  letter-spacing: .2em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

#about-top span[data-trigger="scroll-down"] p::before {
  content: '';
  position: absolute;
  left: -4.05rem;
  top: 0.5em;
  background-color: #fff;
  height: 2px;
  width: 3.45rem;
}

#about-content {
  overflow: hidden;
  padding: 3rem 1.5rem 1.5rem;
}

#about-content .title {
  position: relative;
  float: right;
  margin-bottom: 1.5rem;
  color: #252934;
  font-size: 1.3em;
}

#about-content .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.2em;
  right: -1.5rem;
  height: 2px;
  background-color: #252934;
}

#about-content .content-wrapper {
  clear: both;
}

#about-content .passion, #about-content .skill-set, #about-content #about-footer {
  margin-top: 3rem;
}

#about-content .intro {
  position: relative;
  padding-bottom: 1.5rem;
}

#about-content .intro .bg-img {
  position: absolute;
  z-index: -4;
  left: -1.5rem;
  top: -3rem;
  bottom: 0;
  right: -1.5rem;
  background-image: url(../dir/img/kkl.png);
  background-size: cover;
  background-position: center top;
}

#about-content .intro .title {
  color: #fff;
}

#about-content .intro .title::before {
  background-color: #fff;
}

#about-content .intro .content-wrapper {
  padding-bottom: 1.5rem;
}

#about-content .intro .content-wrapper img {
  width: 70%;
  margin-bottom: 1.05rem;
  -webkit-box-shadow: -15px 15px 20px rgba(58, 58, 58, 0.1);
          box-shadow: -15px 15px 20px rgba(58, 58, 58, 0.1);
}

#about-content .intro .content-wrapper p {
  line-height: 1.5em;
  border-left: 1px solid #fff;
  padding-left: 1em;
  color: #fff;
}

#about-content .skill-set .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about-content .skill-set .content-wrapper .group-skill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48%;
          flex: 1 1 48%;
}

#about-content .skill-set .content-wrapper .group-skill .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5em;
}

#about-content .skill-set .content-wrapper .group-skill .skill .icon-skill img {
  width: 100%;
}

#about-content .skill-set .content-wrapper .group-skill .skill .desc-skill {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 83%;
          flex: 1 0 83%;
}

#about-content .skill-set .content-wrapper .group-skill .skill .desc-skill span {
  display: block;
  margin-bottom: 0.5em;
}

#about-content .skill-set .content-wrapper .group-skill .skill .desc-skill .backbar {
  background-color: #ffd1bc;
  height: 0.7em;
}

#about-content .skill-set .content-wrapper .group-skill .skill .desc-skill .backbar .progress {
  background-color: #252934;
  height: 100%;
}

#about-footer {
  background-color: #252934;
  color: #fff;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -1.5rem;
}

#about-footer ul {
  width: 100%;
  text-align: center;
  line-height: 2.2em;
}

#about-footer ul a {
  text-transform: lowercase;
  font-family: "Julius Sans One", sans-serif;
  opacity: 0.6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#about-footer ul a:hover {
  opacity: 1;
  letter-spacing: 0.3em;
}

@media screen and (min-width: 768px) {
  #about-top span[data-trigger="scroll-down"] {
    bottom: 4.5rem;
    left: 3rem;
  }
  #about-footer {
    margin: -3rem;
  }
  #about-content {
    padding: 3rem;
  }
  #about-content .title {
    margin-bottom: 3rem;
  }
  #about-content .title::before {
    right: -3rem;
  }
  #about-content .passion, #about-content .skill-set, #about-content #about-footer {
    margin-top: 4.5rem;
  }
  #about-content .intro .bg-img {
    left: -3rem;
    top: -3rem;
    right: -3rem;
  }
  #about-content .intro .content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 1.5rem;
    padding-bottom: 3rem;
  }
  #about-content .intro .content-wrapper img {
    width: 45%;
  }
  #about-content .intro .content-wrapper p {
    height: 100%;
  }
  #about-content .skill-set .content-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  #about-top .headline-page {
    width: 17%;
  }
  #about-top span[data-trigger="scroll-down"] {
    bottom: 4.5rem;
    left: 9.7rem;
  }
  #about-content {
    padding: 3rem 14.55rem;
  }
  #about-content .title {
    margin-bottom: 3rem;
  }
  #about-content .title::before {
    right: -14.55rem;
  }
  #about-content .passion, #about-content .skill-set, #about-content #about-footer {
    margin-top: 4.5rem;
  }
  #about-content .intro .bg-img {
    left: -14.55rem;
    top: -3rem;
    right: -14.55rem;
    width: 95%;
  }
  #about-content .intro .title {
    color: #252934;
  }
  #about-content .intro .title::before {
    background-color: #252934;
  }
  #about-content .intro .content-wrapper {
    gap: 6rem;
    padding-bottom: 3rem;
  }
  #about-content .intro .content-wrapper img {
    width: 40%;
  }
  #about-content .skill-set .content-wrapper {
    gap: 3rem;
  }
  #about-footer {
    padding: 3rem;
    margin-left: -14.55rem;
    margin-right: -14.55rem;
  }
  #about-footer ul {
    line-height: 2.7em;
  }
}

span[data-trigger="back-btn"] {
  position: absolute;
  left: 1.5rem;
  top: 2em;
  font-size: 1.5em;
  z-index: 100;
  color: #fff;
}

@media screen and (min-width: 768px) {
  span[data-trigger="back-btn"] {
    left: 3rem;
    top: 2.1em;
  }
}

@media screen and (min-width: 1024px) {
  span[data-trigger="back-btn"] {
    left: 9.7rem;
    top: 2.2em;
  }
}

/* 3 tabs */
.tabs input[name=tab-control] {
  display: none;
}

.tabs input[name=tab-control]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
  cursor: default;
}

.tabs input[name=tab-control]:nth-of-type(1):checked ~ .slide-wrapper > .slider {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.tabs input[name=tab-control]:nth-of-type(1):checked ~ .content > section:nth-child(1) {
  display: block;
}

.tabs input[name=tab-control]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
  cursor: default;
}

.tabs input[name=tab-control]:nth-of-type(2):checked ~ .slide-wrapper > .slider {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.tabs input[name=tab-control]:nth-of-type(2):checked ~ .content > section:nth-child(2) {
  display: block;
}

.tabs input[name=tab-control]:nth-of-type(3):checked ~ ul > li:nth-child(3) > label {
  cursor: default;
}

.tabs input[name=tab-control]:nth-of-type(3):checked ~ .slide-wrapper > .slider {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.tabs input[name=tab-control]:nth-of-type(3):checked ~ .content > section:nth-child(3) {
  display: block;
}

.tabs .content section h2,
.tabs ul li label {
  font-family: "Julius Sans One", sans-serif;
}

.tabs ul, .tabs .slide-wrapper {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  margin-bottom: 0.75rem;
}

.tabs ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 33.33333%;
  text-align: center;
}

.tabs ul li label {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  display: block;
  cursor: pointer;
}

.tabs ul li label img {
  width: 40%;
}

.tabs ul li label span {
  display: none;
  margin-top: 0.49em;
}

@media (min-width: 768px) {
  .tabs ul li label img {
    width: 30%;
  }
  .tabs ul li label span {
    display: block;
  }
}

.tabs .slide-wrapper {
  background-color: rgba(37, 41, 52, 0.2);
  height: 2px;
  width: 100%;
  margin-bottom: 1.8rem;
}

.tabs .slide-wrapper .slider {
  position: relative;
  width: 33.33333%;
  -webkit-transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  height: 100%;
}

.tabs .slide-wrapper .slider .indicator {
  margin: 0 auto;
  position: relative;
  width: 70px;
  max-width: 100%;
  height: 100%;
  background-color: #252934;
}

@media (min-width: 768px) {
  .tabs .slide-wrapper {
    margin-bottom: 0;
  }
}

.tabs .content section {
  display: none;
  -webkit-animation-name: content;
          animation-name: content;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  line-height: 1.3em;
}

.tabs .content section h2 {
  display: block;
  margin-bottom: 1.5rem;
}

.tabs .content section h2::after {
  content: "";
  position: relative;
  display: block;
  width: 40px;
  height: 1px;
  background-color: #252934;
  left: 2px;
  top: 0.3em;
}

@media (min-width: 768px) {
  .tabs .content section h2 {
    display: none;
  }
}

.tabs .content section p {
  line-height: 1.5em;
}

@media (min-width: 768px) {
  .tabs .content section {
    text-align: center;
    padding-top: 0.75rem;
  }
}

@media (min-width: 768px) {
  .tabs ul, .tabs .slide-wrapper, .tabs .content {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .tabs ul {
    margin-bottom: 1.5rem;
  }
  .tabs .slide-wrapper {
    margin-bottom: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .tabs ul, .tabs .slide-wrapper, .tabs .content {
    padding-left: 9.7rem;
    padding-right: 9.7rem;
  }
}

@-webkit-keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes content {
  from {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.loader {
  position: fixed;
  width: 100vw;
  height: 200vh;
  pointer-events: none;
  background-color: #FFF6ED;
  z-index: 160;
  visibility: hidden;
  opacity: 0;
}

.is-transitioning {
  pointer-events: none;
  cursor: progress;
}

.cover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: #252934;
  z-index: 170;
  visibility: visible;
  opacity: 1;
}

#work-preview {
  height: 40vh;
  overflow: hidden;
  background-color: #fff;
}

#work-preview img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#work-content .intro-details {
  height: 50%;
  padding: 3rem;
}

#work-content .intro-details h2 {
  margin-bottom: 1.2rem;
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.4em;
}

#work-content .intro-details p {
  line-height: 1.4em;
}

#work-content .showcase-design {
  background-color: #fff;
}

#work-content .showcase-design img {
  width: 100%;
}

#ask-project {
  padding: 7.2rem 3rem;
}

#ask-project h2 {
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
  text-transform: uppercase;
  font-size: 0.75em;
  opacity: 0.6;
  letter-spacing: 0.1em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#ask-project:hover .cta-ask {
  letter-spacing: 0.3em;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  #work-preview {
    height: 45vh;
  }
  #work-content .intro-details {
    padding: 3rem 9rem;
  }
  #work-content .intro-details p {
    line-height: 1.5em;
  }
  #ask-project {
    padding: 10.2rem;
  }
}

@media screen and (min-width: 1024px) {
  #work-preview {
    height: 50vh;
  }
  #work-content .intro-details {
    padding: 6rem 19.4rem;
  }
  #work-content .intro-details p {
    line-height: 1.5em;
  }
  #ask-project {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@font-face {
  font-family: 'Gotham Book';
  src: url("../dir/fonts/GothamBook.ttf");
}

@font-face {
  font-family: 'Julius Sans One';
  src: url("../dir/fonts/JuliusSansOne-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: "Gotham Book", sans-serif;
  font-size: 14px;
}

body ul {
  list-style-type: none;
}

body a {
  text-decoration: none;
  color: unset;
}

header {
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header a.home-btn {
  display: inline-block;
  margin-left: 1.5rem;
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.5em;
}

header nav {
  padding: 0 1.5rem;
  color: #fff;
  background-color: #252934;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: none;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul a {
  display: inline-block;
  position: relative;
}

header nav ul a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 40%;
  height: 1px;
  background-color: #fff;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 325ms ease-in-out;
  transition: -webkit-transform 325ms ease-in-out;
  transition: transform 325ms ease-in-out;
  transition: transform 325ms ease-in-out, -webkit-transform 325ms ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

header nav ul a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header nav span {
  display: block;
  color: #fff;
  font-size: 1.4em;
  cursor: pointer;
}

main {
  position: relative;
}

button {
  font-family: "Gotham Book", sans-serif;
}

footer.main-footer {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
  font-size: 2em;
}

footer.main-footer .rect {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 164, 137, 0.6);
  z-index: -1;
}

footer.main-footer .social-vertical {
  padding: 0.3rem;
  line-height: 1.5em;
  position: relative;
  top: -2.5em;
  right: -0.7em;
}

.title {
  font-family: "Julius Sans One", sans-serif;
  font-size: 2em;
}

.header-content {
  color: #fff;
}

.content-page {
  min-height: 100px;
  position: relative;
  z-index: 10;
}

.img {
  background-repeat: no-repeat;
}

.cta {
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 0.75rem;
  letter-spacing: .2em;
  word-break: none;
  border: 1px solid #252934;
  position: relative;
  -webkit-transition: color 650ms ease-in-out;
  transition: color 650ms ease-in-out;
}

.cta-darken::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #252934;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform 650ms ease-in-out;
  transition: -webkit-transform 650ms ease-in-out;
  transition: transform 650ms ease-in-out;
  transition: transform 650ms ease-in-out, -webkit-transform 650ms ease-in-out;
}

.cta-darken:hover {
  color: #fff;
}

.cta-darken:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.cta-shiny {
  position: relative;
  overflow: hidden;
}

.cta-shiny::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  -webkit-transition: all 650ms ease-in-out;
  transition: all 650ms ease-in-out;
}

.cta-shiny:hover::before {
  left: 100%;
}

.bg-word {
  width: 100vw;
  font-size: 18em;
  opacity: 0.09;
  font-family: "Julius Sans One", sans-serif;
  cursor: default;
}

.section-nav {
  background-color: #252934;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 55%;
}

.section-nav ul {
  padding: 0.525rem 3rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.section-nav ul a {
  position: relative;
  display: inline-block;
}

.section-nav ul a:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

#menu {
  display: none;
  position: fixed;
  z-index: 150;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 41, 52, 0.5);
}

#menu .content-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #252934;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

#menu .content-menu ul {
  width: 100%;
}

#menu .content-menu ul li {
  overflow: hidden;
  text-align: right;
  padding: 0.75rem 1.5rem;
}

#menu .content-menu ul li a {
  white-space: nowrap;
}

#menu .content-menu span {
  position: absolute;
  right: 1.5rem;
  top: 0.75rem;
  font-size: 1.4em;
}

#hero-section {
  position: relative;
  overflow: hidden;
}

#hero-section .rect, #hero-section .bg-img, #hero-section .bg-word {
  position: absolute;
}

#hero-section .rect {
  background-color: #E1A489;
  width: 1.5rem;
  height: 3rem;
  left: 0;
  top: 3em;
}

#hero-section .bg-img {
  width: 60%;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: -10;
  background: url("../dir/img/pexels-ylanite-koppens-934062.png");
  background-size: cover;
  background-position: 65% 0;
}

@media (min-width: 1024px) {
  #hero-section .bg-img {
    right: 1.2em;
  }
}

#hero-section .bg-word {
  bottom: 4.5rem;
  left: -.5em;
  z-index: -2;
}

#hero-section .wrapper {
  margin-left: 1.5rem;
  padding-top: 15em;
  padding-bottom: 1em;
  width: 70%;
  overflow: hidden;
}

#hero-section .wrapper .headline {
  font-family: "Julius Sans One", sans-serif;
  font-size: 3em;
  margin-bottom: .2em;
}

#hero-section .wrapper .sub-headline {
  margin-bottom: 1.4em;
}

#hero-section .wrapper .cta-primary {
  display: inline-block;
  padding: 0.75rem;
  letter-spacing: .2em;
  word-break: none;
  position: relative;
  overflow: hidden;
}

#hero-section .wrapper .cta-primary a {
  display: inline-block;
}

#hero-section .wrapper .cta-primary::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 1px;
  left: 1px;
  bottom: 1px;
  width: 51%;
  border: 1px solid #E1A489;
}

#hero-section .wrapper .cta-primary::after {
  content: '';
  position: absolute;
  z-index: -2;
  top: 1px;
  left: 1px;
  bottom: 1px;
  width: 51%;
  background-color: #ffd1bc;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform 650ms ease-in-out;
  transition: -webkit-transform 650ms ease-in-out;
  transition: transform 650ms ease-in-out;
  transition: transform 650ms ease-in-out, -webkit-transform 650ms ease-in-out;
}

#hero-section .wrapper .cta-primary:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#showcase {
  position: relative;
  padding-top: 20%;
}

#showcase .img {
  margin: 0 1.5rem;
  width: auto;
  height: 45%;
  background: url("../dir/img/Gaming Site - Preview.png");
  background-size: cover;
  background-position: top center;
  position: relative;
}

#showcase .img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#showcase .wrapper {
  position: relative;
  padding: 1.5rem;
}

#showcase .wrapper .rect {
  position: absolute;
  background-color: #ffd1bc;
  top: -4em;
  left: 0;
  bottom: 3em;
  width: 100%;
  z-index: -1;
}

#showcase .wrapper .sub-title {
  position: relative;
  left: 1em;
  bottom: -0.2em;
}

#showcase .wrapper .content {
  margin: 1.05rem 0;
  line-height: 1.5em;
}

#showcase .wrapper .bounding {
  position: relative;
  overflow: hidden;
}

#about {
  position: relative;
  padding-top: 30%;
}

#about .wrapper {
  padding: 0 1.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#about .wrapper .rect {
  position: absolute;
  background-color: #ffd1bc;
  z-index: -1;
  width: 55%;
  left: 0;
  top: -3em;
  bottom: -3em;
}

#about .wrapper .img {
  width: 100%;
  height: 20em;
  background: url("../dir/img/IMG_20200924_211247.png");
  background-size: cover;
  position: relative;
}

#about .wrapper .img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#about .wrapper .img::after {
  content: url("../dir/svg/logo-transparent-white.svg");
  position: absolute;
  z-index: 2;
  width: 20%;
  height: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#about .wrapper .content {
  padding-top: 1.5rem;
  position: relative;
  overflow: hidden;
}

#about .wrapper .content p {
  margin: 1.05rem 0;
  line-height: 1.5em;
}

#contact {
  position: relative;
  overflow: hidden;
  padding: 0 1.5rem;
  z-index: 20;
}

#contact .bg-word, #contact .triangle-1, #contact .triangle-2 {
  position: absolute;
  z-index: -1;
}

#contact .triangle-1, #contact .triangle-2 {
  width: 100%;
  height: 60%;
  background-color: #E1A489;
}

#contact .triangle-1 {
  top: 0;
  right: 0;
  -webkit-clip-path: polygon(15% 0, 100% 85%, 100% 0);
          clip-path: polygon(15% 0, 100% 85%, 100% 0);
}

#contact .triangle-2 {
  bottom: 0;
  left: 0;
  -webkit-clip-path: polygon(0 15%, 85% 100%, 0 100%);
          clip-path: polygon(0 15%, 85% 100%, 0 100%);
}

#contact .bg-word {
  bottom: 6rem;
  left: -.25em;
}

#contact .title {
  padding-top: 35%;
  padding-bottom: 1.5rem;
}

#contact .bounding {
  overflow: hidden;
  position: relative;
}

#contact .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

#contact .content form {
  display: none;
}

#contact .content form input, #contact .content form textarea {
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid #252934;
  outline: none;
  padding: 0.45rem;
  font-family: "Gotham Book", sans-serif;
  background-color: #ffd1bc;
}

#contact .content form input::-webkit-input-placeholder, #contact .content form textarea::-webkit-input-placeholder {
  color: #252934;
}

#contact .content form input:-ms-input-placeholder, #contact .content form textarea:-ms-input-placeholder {
  color: #252934;
}

#contact .content form input::-ms-input-placeholder, #contact .content form textarea::-ms-input-placeholder {
  color: #252934;
}

#contact .content form input::placeholder, #contact .content form textarea::placeholder {
  color: #252934;
}

#contact .content form textarea {
  resize: none;
}

#contact .content form .cta {
  background-color: #252934;
  color: #fff;
  cursor: pointer;
}

#contact .content .social {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
}

#contact .content .social .img {
  height: 20em;
  margin-bottom: 1.5rem;
  background-image: url("../dir/img/pexels-karolina-grabowska-5398881.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

#contact .content .social .img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#contact .content .social i {
  margin-right: 0.7em;
  font-size: 1.3em;
}

#contact .content .social li {
  white-space: nowrap;
  line-height: 1.7em;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 15px;
  }
  header {
    height: 3.1em;
  }
  header a.home-btn {
    margin-left: 3rem;
  }
  header nav {
    padding: 0 3rem;
  }
  footer.main-footer {
    display: unset;
  }
  .section-nav {
    width: 45%;
  }
  .section-nav ul {
    padding: 0.75rem 6rem;
  }
  #hero-section .rect {
    width: 3rem;
    top: 3.1em;
  }
  #hero-section .wrapper {
    margin-left: 3rem;
    width: 55%;
  }
  #showcase {
    padding-top: 15em;
  }
  #showcase .img {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: unset;
    width: 40%;
    height: 60%;
  }
  #showcase .wrapper {
    width: 60%;
    padding: 3rem;
  }
  #showcase .wrapper .rect {
    top: 5em;
    bottom: 5em;
    right: -11em;
    left: 0;
    width: unset;
  }
  #about {
    padding-top: 20em;
  }
  #about .wrapper {
    padding: 0 3rem;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    gap: 2.1rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #about .wrapper .content {
    padding: unset;
  }
  #about .wrapper .img {
    height: 30em;
  }
  #about .wrapper .rect {
    width: 55%;
    left: 10em;
    top: 6em;
    bottom: -6em;
  }
  #contact {
    padding: 0 3rem;
  }
  #contact .content {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #contact .content form {
    display: unset;
  }
  #contact .content .social .img {
    height: 8.5em;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 16px;
  }
  header {
    height: 3.2em;
  }
  header a.home-btn {
    margin-left: 9.7rem;
  }
  header nav {
    padding: 0 9.7rem;
    width: 55%;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav span {
    display: none;
  }
  .section-nav {
    bottom: unset;
    left: unset;
    right: 0;
    top: 30%;
    -webkit-transform: unset;
            transform: unset;
    width: unset;
  }
  .section-nav ul {
    display: block;
    padding: 4.2rem 0.75rem;
    font-size: 0.7em;
  }
  .section-nav ul a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 3em;
  }
  .bg-word {
    font-size: 25em;
  }
  #menu {
    display: none;
  }
  #hero-section .rect {
    width: 9.7rem;
    top: 3.2em;
  }
  #hero-section .bg-word {
    bottom: 0.3rem;
    left: -.3em;
  }
  #hero-section .wrapper {
    padding-top: 12em;
    margin-left: 9.7rem;
    width: 40%;
  }
  #showcase {
    padding-top: 9em;
  }
  #showcase .img {
    width: 43.5%;
    height: 60%;
  }
  #showcase .wrapper {
    width: 54%;
    padding-left: 9.7rem;
  }
  #showcase .wrapper .rect {
    top: 5em;
    bottom: 4.5em;
    right: -11em;
    left: 0;
  }
  #showcase .wrapper .content {
    margin: 1.5rem 0;
  }
  #about {
    padding-top: 9em;
  }
  #about .wrapper {
    padding: 0 9.7rem;
    gap: 3rem;
  }
  #about .wrapper .content {
    padding: unset;
  }
  #about .wrapper .img {
    height: 20em;
    width: 65%;
  }
  #about .wrapper .rect {
    width: 55%;
    left: 15em;
    top: 6em;
    bottom: -6em;
  }
  #contact {
    padding: 0 9.7rem;
  }
  #contact .bg-word {
    bottom: 0em;
  }
  #contact .title {
    padding-top: 5.5em;
  }
  #contact .content {
    gap: 3rem;
  }
}

@media screen and (min-width: 1500px) {
  header nav {
    width: auto;
  }
  header nav ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: 5.82rem;
  }
}
/*# sourceMappingURL=main.css.map */