.home-btn {
    color: $primary-clr;
}
span[data-trigger="back-btn"] { //back button
    position: absolute;
    left: $spacer; top: 2em;
    font-size: 1.5em;
    z-index: 100;
    color: $primary-clr;
}

#about-top {
    @include fullpage;
    overflow: hidden;
    background: url(../dir/img/dark-honeycomb.png);
    color: $primary-clr;
    display: flex;
    justify-content: center;
    align-items: center;
    .headline-page {
        width: 30%;
        .logo {
            margin-bottom: 1.5em;
        }
        h1 {
            font-family: $ff-1;
            text-align: center;
        }
    }
    span[data-trigger="scroll-down"] {
        position: fixed;
        bottom: $spacer * 3; left: $spacer;
        z-index: 1;
        p {
            position: absolute;
            letter-spacing: .2em;
            transform: rotate(-90deg);
            transform-origin: left;
            &::before {
                content: '';
                position: absolute;
                left: -$spacer * 2.7; top: 0.5em;
                background-color: $primary-clr;
                height: 2px;
                width: $spacer * 2.3;
            }
        }
    }
}

.content-page {
    min-height: 2000px;
    position: relative;
    z-index: 10;
}

#about-content {
    overflow: hidden;
    padding: $spacer;
    .title {
        position: relative;
        float: right;
        margin-bottom: $spacer;
        &::before {
            content: '';
            position: absolute;
            left: 0; bottom: -0.2em; right: -$spacer;
            height: 2px;
            background-color: $dark-clr;
        }
    }
    .content-wrapper {
        clear: both;
    }
    .intro, .passion, .skill-set, #about-footer {
        margin-top: $spacer * 1.5;
    }
    .intro {
        .content-wrapper {
            img {
                width: 70%;
                margin-bottom: $spacer * 0.7;
            }
            p {
                line-height: 1.2em;
                border-left: 3px solid $secondary-clr;
                padding-left: 0.5em;
            }
        }
    }
}
@media screen and (min-width: $tablet-width) {
    span[data-trigger="back-btn"] {
        left: $spacer-md; top: 2.1em;
    }
    #about-top {
        span {
            &[data-trigger="scroll-down"] {
                bottom: $spacer * 3; left: $spacer-md;
            }
        }
    }
    #about-content {
        padding: $spacer-md;
        .title {
            margin-bottom: $spacer-md;
            &::before {
                right: -$spacer-md;
            }
        }
        .intro, .passion, .skill-set, #about-footer {
            margin-top: $spacer-md * 1.5;
        }
        .intro {
            .content-wrapper {
                display: flex;
                flex-direction: row-reverse;
                gap: $spacer;
                img {
                    width: 45%;
                }
                p {
                    height: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: $desktop-width) {
    span[data-trigger="back-btn"] {
        left: $spacer-lg; top: 2.2em;
    }
    #about-top {
        .headline-page {
            width: 17%;
        }
        span {
            &[data-trigger="scroll-down"] {
                bottom: $spacer * 3; left: $spacer-lg;
            }
        }
    }

    #about-content {
        padding: $spacer-lg;
        padding-top: $spacer-md;
        .title {
            margin-bottom: $spacer-md;
            &::before {
                right: -$spacer-lg;
            }
        }
        .intro, .passion, .skill-set, #about-footer {
            margin-top: $spacer-md * 1.5;
        }
        .intro {
            .content-wrapper {
                gap: $spacer-md * 2;
                img {
                    width: 40%;
                }
                p {
                    
                }
            }
        }
    }
}