span[data-trigger="back-btn"] { //back button
    position: absolute;
    left: $spacer; top: 2em;
    font-size: 1.5em;
    z-index: 100;
    color: $primary-clr;
}

@media screen and (min-width: $tablet-width) {
    span[data-trigger="back-btn"] {
        left: $spacer-md; top: 2.1em;
    }
}

@media screen and (min-width: $desktop-width) {
    span[data-trigger="back-btn"] {
        left: $spacer-lg; top: 2.2em;
    }
}


/* 3 tabs */

// tab setting 
$tab-count: 3;
$indicator-width: 70px;
$indicator-height: 2px;

// selectors relative to radio inputs
$label-selector: "~ ul > li";
$slider-selector: "~ .slide-wrapper > .slider";
$content-selector: "~ .content > section";

@mixin tabs(
    $label-selector: $label-selector,
    $slider-selector: $slider-selector,
    $content-selector: $content-selector) {
    
    @for $i from 1 through $tab-count {
        &:nth-of-type(#{$i}):checked {
            #{$label-selector}:nth-child(#{$i}) {
                @content;
            }

            #{$slider-selector} {
                transform: translateX(#{100% * ($i - 1)});
            }

            #{$content-selector}:nth-child(#{$i}) {
                display: block;
            }
        }
    }
}

.tabs {
    input[name=tab-control] {
        display: none;
        @include tabs {
            > label {
                cursor: default;
            }
        }
    }

    .content section h2,
    ul li label {
        font-family: $ff-1;
    }

    ul, .slide-wrapper {
        padding-left: $spacer * 1.5;
        padding-right: $spacer * 1.5;
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        margin-bottom: $spacer * 0.5;
        li {
            box-sizing: border-box;
            flex: 1;
            width: #{100% / $tab-count};
            text-align: center;
            label {
                transition: all 0.3s ease-in-out;
                overflow: hidden;
                // text-overflow: ellipsis;
                display: block;
                cursor: pointer;
                // white-space: nowrap;
                img {
                    width: 40%;
                }
                span {
                    display: none;
                    margin-top: $spacer-sm * 0.7;
                }
                @media (min-width: $tablet-width) {
                    img {
                        width: 30%;
                    }
                    span {
                        display: block;
                    }
                }
            }
        }
    }

    .slide-wrapper {
        background-color: rgba($dark-clr, 0.2);
        height: $indicator-height;
        width: 100%;
        margin-bottom: $spacer * 1.2;
        .slider {
            position: relative;
            width: #{100% / $tab-count};
            transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
            height: 100%;
            .indicator {
                margin: 0 auto;
                position: relative;
                width: $indicator-width;
                max-width: 100%;
                height: 100%;
                background-color: $dark-clr;
            }
        }
        @media (min-width:$tablet-width) {
            margin-bottom: 0;
        }
    }

    .content {
        section {
            display: none;
            animation: {
                name: content;
                direction: normal;
                duration: 0.3s;
                timing-function: ease-in-out;
                iteration-count: 1;
            }
            line-height: 1.3em;
            h2 {
                display: block;
                margin-bottom: $spacer;
                &::after {
                    content: "";
                    position: relative;
                    display: block;
                    width: 40px;
                    height: 1px;
                    background-color: $dark-clr;
                    left: 2px;
                    top: 0.3em;
                }
                @media (min-width: $tablet-width) {
                    display: none;
                }
            }
            p {
                line-height: 1.5em;
            }
            @media (min-width: $tablet-width) {
                text-align: center;
                padding-top: $spacer * 0.5;
            }
        }
    }
    
    @media (min-width: $tablet-width) {
        ul, .slide-wrapper, .content {
            padding-left: $spacer-md;
            padding-right: $spacer-md;
        }
        ul {
            margin-bottom: $spacer-md * 0.5;
        }
        .slide-wrapper {
            margin-bottom: $spacer-md * 0.6;
        }
    }
    @media (min-width: $desktop-width) {
        ul, .slide-wrapper, .content {
            padding-left: $spacer-lg;
            padding-right: $spacer-lg;
        }
    }

    @keyframes content {
        from {
            opacity: 0;
            transform: translateY(5%);
        }
        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }

}
