$tablet-width: 768px;
$desktop-width: 1024px;
$large-screen: 1500px;

$primary-clr: #fff;
$dark-clr: #252934;
$accent-clr: rgba(#000, 0.1);
$secondary-clr: #E1A489;
$light-clr: #ffd1bc;

$spacer-sm: 0.7em;
$spacer: 1.5rem;
$spacer-md: 3rem;
$spacer-lg: 9.7rem;

$dur: 650ms;
$easeOut: cubic-bezier(0.1, 0.7, 0.6, 0.9);
$easeInOut: ease-in-out;
$shadow:  -15px 15px 20px rgba(58, 58, 58, 0.1);
$shine: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.2), transparent);
$depth: 500px; 

$ff-1: 'Julius Sans One', sans-serif;
$ff-2: 'Gotham Book', sans-serif;

$opacity-1: .09;

@mixin fullpage {
    // height: 100vh;
    position: relative;
}